
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #6C7C59;
    color: white;
}

header, form {
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form input {
    padding: 1.0rem;
    border: none;
    min-width: 25%;
    border-radius: 0.5rem 0 0 0.5rem;
    background-color: white;
    font-family: 'Bitter', serif;;
}

form button {
    padding: 1.0rem;
    border: none;
    border-radius: 0 0.5rem 0.5rem 0;
    background-color: white;
    color: #8A9A5B;
    cursor: pointer;
    transition: all 0.3s ease;
    font-family: 'Bitter', serif;
}

form button:hover {
    background-color: #434b2d;
    color: white;
}

/* LIST STYLE */

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#todolist {
    min-width: 30%;
    list-style: none;
}

.todo {
    background-color: white;
    color:rgb(12, 14, 7);
    font-size: 0.9rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0.5rem;
    margin: 1rem;
    font-family: 'Bitter', serif;
}

.todo li {
    flex: 1;
    margin: 1rem;
}

.trash-button, .done-button {
    background:rgb(122, 56, 44);
    color: rgb(253, 253, 253);
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;
    font-family: 'Bitter', serif;
    border-radius: 0 0.5rem 0.5rem 0;
}

.trash-button:hover, .done-button:hover {
    opacity: 90%;
}

.done-button {
    border-radius: 0;
    background-color: rgb(83, 114, 83);
}

.fa-trash-alt, 
.fa-check-circle {
    pointer-events: none;
}

.completed {
    background-color: #a8bd88;
    opacity: 50%;
}